
<br>
<h1>Viewing sensor logs</h1>

<input class="datepicker" type="text" name="datepicker" id="datetime"></input>
    <select id="target-hour" class="form-control" name="time">
      <option value="00"> 0:00 - 1:00
      <option value="01"> 1:00 - 2:00
      <option value="02"> 2:00 - 3:00
      <option value="03"> 3:00 - 4:00
      <option value="04"> 4:00 - 5:00
      <option value="05"> 5:00 - 6:00
      <option value="06"> 6:00 - 7:00
      <option value="07"> 7:00 - 8:00
      <option value="08"> 8:00 - 9:00
      <option value="09"> 9:00 - 10:00
      <option value="10"> 10:00 - 11:00
      <option value="11"> 11:00 - 12:00
      <option value="12"> 12:00 - 13:00
      <option value="13"> 13:00 - 14:00
      <option value="14"> 14:00 - 15:00
      <option value="15"> 15:00 - 16:00
      <option value="16"> 16:00 - 17:00
      <option value="17"> 17:00 - 18:00
      <option value="18"> 18:00 - 19:00
      <option value="19"> 19:00 - 20:00
      <option value="20"> 20:00 - 21:00
      <option value="21"> 21:00 - 22:00
      <option value="22"> 22:00 - 23:00
      <option value="23"> 23:00 - 24:00
    </select>

    <button type="button" id="loading-btn" data-loading-text="Loading..." class="btn btn-primary btn-block">Loading</button>

<!--
<table>
  <thead>
    <tr>
      <th>Log datetime</th>
      <th>Sensor</th>
      <th>Sequence num</th>
      <th>Temperture</th>
      <th>Hermidity</th>
      <th>Sunshine degree</th>
      <th>Infrared</th>
      <th colspan="3"></th>
    </tr>
  </thead>
-->

<!--
  <tbody>
    <% @sensor_logs.each do |sensor_log| %>
      <tr>
        <td><%= sensor_log.log_datetime %></td>
        <td><%= sensor_log.sensor_id %></td>
        <td><%= sensor_log.sequence_num %></td>
        <td><%= sensor_log.temperture %></td>
        <td><%= sensor_log.hermidity %></td>
        <td><%= sensor_log.sunshine_degree %></td>
        <td><%= sensor_log.infrared %></td>
      </tr>
    <% end %>
  </tbody>
-->
</table>

<script>
$('#loading-btn').click(function () {
  var targetDate = $('#datetime').val();
  if (!targetDate) {
    alert('対象日付を選択してください');
    return;
  }

  var targetHour = $("#target-hour").val();
  if (!targetHour) {
    alert('対象時間を選択してください');
    return;
  }

  $.ajax({
        url :"http://192.168.56.101:3000/api/mobile_locations/by_hour/",
        dataType : "jsonp",
        data : {
          //date : '2014-09-24',
          //hour : 17
          date : targetDate,
          hour : targetHour
        }
        }).done(function(data){
            if (data.length == 0) {
              alert("該当データがありませんでした");
            }
            else {
              alert('データ読込終了しました');
            }
        }).fail(function(jqXHR, textStatus, errorThrown){
          //console.log('error');
          alert(textStatus);
        }).always(function(data){
          //clearDiagram();
        });
});

$('.datepicker').datepicker({
    format: 'yyyy-mm-dd'
});
</script>

