<%= form_for(@sensor_log) do |f| %>
  <% if @sensor_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sensor_log.errors.count, "error") %> prohibited this sensor_log from being saved:</h2>

      <ul>
      <% @sensor_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :log_datetime %><br>
    <%= f.datetime_select :log_datetime %>
  </div>
  <div class="field">
    <%= f.label :sensor_id %><br>
    <%= f.number_field :sensor_id %>
  </div>
  <div class="field">
    <%= f.label :sequence_num %><br>
    <%= f.number_field :sequence_num %>
  </div>
  <div class="field">
    <%= f.label :temperture %><br>
    <%= f.text_field :temperture %>
  </div>
  <div class="field">
    <%= f.label :hermidity %><br>
    <%= f.text_field :hermidity %>
  </div>
  <div class="field">
    <%= f.label :sunshine_degree %><br>
    <%= f.text_field :sunshine_degree %>
  </div>
  <div class="field">
    <%= f.label :infrared %><br>
    <%= f.text_field :infrared %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
