<p id="notice"><%= notice %></p>

<h1>Listing Sensor Logs</h1>

<input class="datepicker" type="text"></input>
 
<table>
  <thead>
    <tr>
      <th>Log datetime</th>
      <th>Sensor</th>
      <th>Sequence num</th>
      <th>Temperture</th>
      <th>Hermidity</th>
      <th>Sunshine degree</th>
      <th>Infrared</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sensor_logs.each do |sensor_log| %>
      <tr>
        <td><%= sensor_log.log_datetime %></td>
        <td><%= sensor_log.sensor_id %></td>
        <td><%= sensor_log.sequence_num %></td>
        <td><%= sensor_log.temperture %></td>
        <td><%= sensor_log.hermidity %></td>
        <td><%= sensor_log.sunshine_degree %></td>
        <td><%= sensor_log.infrared %></td>
        <td><%= link_to 'Show', sensor_log %></td>
        <td><%= link_to 'Edit', edit_sensor_log_path(sensor_log) %></td>
        <td><%= link_to 'Destroy', sensor_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sensor log', new_sensor_log_path %>

<script>
//alert('hoge');
//alert($('#datepicker').val());
//$('#datepicker').datepicker();
$('.datepicker').datepicker({
    format: 'yyyy/mm/dd',
    startDate: '-3d'
});
</script>

