<p id="notice"><%= notice %></p>

<p>
  <strong>Log datetime:</strong>
  <%= @sensor_log.log_datetime %>
</p>

<p>
  <strong>Sensor:</strong>
  <%= @sensor_log.sensor_id %>
</p>

<p>
  <strong>Sequence num:</strong>
  <%= @sensor_log.sequence_num %>
</p>

<p>
  <strong>Temperture:</strong>
  <%= @sensor_log.temperture %>
</p>

<p>
  <strong>Hermidity:</strong>
  <%= @sensor_log.hermidity %>
</p>

<p>
  <strong>Sunshine degree:</strong>
  <%= @sensor_log.sunshine_degree %>
</p>

<p>
  <strong>Infrared:</strong>
  <%= @sensor_log.infrared %>
</p>

<%= link_to 'Edit', edit_sensor_log_path(@sensor_log) %> |
<%= link_to 'Back', sensor_logs_path %>
